<script>window.location.replace("http://www.ioi-xd.net/pokeh")</script>
<b>Redirecting you to the right site. <a href="http://www.ioi-xd.net/pokeh">Click here if you aren't redirected within ten seconds.</a>