@font-face {
    font-family: 'WebCharcoal';
    src: url('Charcoal.eot');
    src: url('Charcoal.eot?#iefix') format('embedded-opentype'),
        url('Charcoal.woff2') format('woff2'),
        url('Charcoal.woff') format('woff'),
        url('Charcoal.ttf') format('truetype'),
        url('Charcoal.svg#Charcoal') format('svg');;
}

ul, li {margin: 0; padding-left: .1em; list-style-type: none;}

body {
    background-color: #9c9cce;
    background: url("../images/19201080_filter.png");
    font-size: 75%; 
    font-family: "Liberation Sans", Charcoal, "WebCharcoal", sans-serif;
    font-smooth: never;
    -webkit-font-smoothing: none;
    text-rendering: geometricPrecision !important;
}

.window {
    background: #cecece;
    position: absolute; 
    display: block;
    padding: 3px;
    border: 1px solid black;
    min-width: 1px;
    box-shadow: 
        inset 1px 1px 0 0 white,
        inset -1px -1px 0 0 #9c9c9c,
        1px 1px 0 0 black;
}
.window .titlebar {
    display: block;
    width: 100%; height: 18px;
    margin: 0; padding: 0;
    background: url("../images/macos_title.png");
    position: relative;
}
.window .titlebar .title {
    background: #cecece;
    height: 15px;
    line-height: 15px;
    position: absolute;
    left: 50%;
    top: -1px;
    transform: translate(-50%, 0);
    vertical-align: center;
    padding: 2px;
}
.window .content {
    vertical-align: top;
    padding: 5px;
    display: block;
    background: white;
    box-shadow:
        inset 1px 1px 0 0 #9c9c9c,
        inset -1px -1px 0 0 white,
        inset 1px 1px 0 1px black,
        inset -1px -1px 0 1px black;
}

.window .directions:after {content:"it's on the right";}

#ball {
    background: url("AMIGA_cropped.gif");
    width:98px; height:98px;
    background-position: 174px 186px;
    margin: 0 auto;
    display:block;
    border-radius: 100%;
    opacity:50%;
}

@media (max-width:1024px) {
    body {background-image:url("../images/1024768_filter.png");}
}

@media (min-width: 640px) and (max-width:800px) {
    body {background: #9c9cce;}
    .window {display: block; position: static; min-width: 640px; margin: 10px auto;}
    .amigatext {display: none!important;}
}

@media screen and (orientation:portrait) {
    body {background: #9c9cce; font-family: sans-serif;}
    .window {display: block; position: static; min-width: 1px; max-width: none!important; width: 98%!important; border: 2px solid black; margin: 10px auto;}
    .window .content, .titlebar {font-size: 4vw;}
    .window .content {padding: 2vw; 
    box-shadow:
        inset 1px 1px 0 1px #9c9c9c,
        inset -1px -1px 0 1px white,
        inset 1px 1px 0 3px black,
        inset -1px -1px 0 3px black;
    }
    .window .titlebar {font-weight: bold;  background: url("../images/macos_title_mobile.png"); background-size: contain; height: 6vw;}
    .window .titlebar .title {height: 3vw; padding: 1.5vw .5vw;}

    .amigatext, #ball {display: none!important;}
    .mobiletext2 {display: block!important;}
    .window .directions:after {content:"then scroll down.";}

    .broken {display: none!important;}
}
